extends layout

block content
  div#modal-content
  form(action="/login" method="post")
    div
        label ユーザーID：
        input(type="text" name="user_name")
    div
        label パスワード：
        input(type="password" name="user_password")
    div
        input(type="submit" value="ログイン")
  p #{msg}
