doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title= title
    include ./common/_link
    include ./common/_script
  body
    include ./common/_header
    block content
    include ./common/_footer
