h1= title
p Welcome to #{title}
div.StreamsHero-buttonContainer
      a.js-nav(href='/' data-element="logo")
        span.Icon.Icon--bird
        span.visuallyhidden ホーム
      a(href='/signup' data-component="hero" data-element="buttons") アカウント作成
      a(role="button" href='/login') ログイン
