header.l-header
  h1.l-header-title Cpx Geom Takahashi
  nav.m-nav
    ul.m-nav-items.cf
      li.m-nav-item
        a(href='./index.html') Home
      li.m-nav-item
        a(href='./profile.html') Profile
      li.m-nav-item
        a(href='./papers.html') Papers
      li.m-nav-item
        a(href='./talks.html') Talks
